<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  
  <link rel="stylesheet" href="../css/bootstrap.css">
<script src="../js/shared/angular.js"></script>
<script src="../js/shared/angular-route.js"></script>
<script src="../js/shared/jquery.js"></script>
<script src="../js/shared/angular-cookies.js"></script>
<script src="../js/shared/bootstrap.js"></script>
<script src="../js/user/Properties.js"></script>
<script src="../js/user/Application.js"></script>
<script src="../js/user/Controller.js"></script>
<!-- ******************************************************** -->
<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="../css/styling.css">
  
</head>
<body ng-app="paymentApp" ng-controller="paymentAppController" ng-init="pay()">

	
</body>
</html>
