<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Hospital@Click</title>
<!-- ******************************************************** -->
<link rel="stylesheet" href="../css/bootstrap.css">
<script src="../js/shared/angular.js"></script>
<script src="../js/shared/angular-route.js"></script>
<script src="../js/shared/jquery.js"></script>
<script src="../js/shared/angular-cookies.js"></script>
<script src="../js/shared/bootstrap.js"></script>
<script src="../js/user/Properties.js"></script>
<script src="../js/user/Application.js"></script>
<script src="../js/user/Controller.js"></script>
<!-- ******************************************************** -->
<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="../css/styling.css">
</head>

<!-- Don't touch code before this line -->
<body style="background-color: #F0F3F5;">
<div class="container-fluid" style="padding-top: 20px; padding-right:100x; font-family:'san-serif';">
<marquee behavior="scroll" direction="left" style="color:red">All donations made to the Home Charitable Trust will be exempt from IT under section 80G. Donate today, for a noble cause!</marquee>
 <h1 style="padding-bottom: 20px; color : teal; text-transform: uppercase; font-weight: bolder; padding-left:20px; text-align:left">SPINE</h1>
 <div class="col-sm-4">
<a href="#"  class="btn btn-primary" data-toggle="modal" data-target="#myModal">Low Back Ache & Neck Pain</a>&nbsp &nbsp &nbsp </div>
<div class="col-sm-4">
<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal4">Spinal Infections</a>&nbsp  &nbsp  &nbsp </div>
<div class="col-sm-4">
 <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">Spinal Trauma</a><br><br></div>
 <div class="row">
 <div class="col-sm-8">
 <p style="font-size:17px">The department of spine surgery offers comprehensive care and solutions for a wide range of disorders affecting the spine ranging from trauma, degenerative conditions to tumours.<br>

<br><h4 style="color:black; font-weight: bolder; padding-left:20px; text-align:left"">Facility:</h4>
<p style="font-size:17px">A world class facility has been put up with special emphasis on all aspects of spinal treatment including physiotherapy, ergonomics, lifestyle awareness and surgery. The hospital provides top end operation theatres, equipment's and good care to patients so that excellent results can be achieved.</p>
<br><h4 style="color:black; font-weight: bolder; padding-left:20px; text-align:left"">Services offered:</h4>
<p style="font-size:17px">We offer treatment of the entire gamut of spinal conditions including:</p>
<ul>
<li style="font-size:17px;">Spinal trauma</li><br>
<li style="font-size:17px;">Disc diseases causing low back ache, sciatica, neck pain with pain along the arms</li><br>
<li style="font-size:17px;">Spinal deformities like scoliosis and kyphosis</li><br>
<li style="font-size:17px;">Spinal infections like tuberculosis</li><br>
<li style="font-size:17px;">Tumours affecting the spinal column</li><br>
<li style="font-size:17px;">Problems of the ageing spine</li><br>
<li style="font-size:17px;">Keyhole surgeries for various diseases of the spine</li><br>
 </p></div>
  <div class="col-sm-4">
	   		<div class="card" style="width:250px; height: 420px; box-shadow: 0px 0px 2px 2px #777; padding: 2px;">
			    <img class="card-img-top" src="../img/sp2.jpg" alt="Card image" style="width: 100%; height: 160px;">
			    <div class="card-body">
			      <h4 class="card-title" style="color:teal">SPINE</h4>
			      <p class="card-text" style="color:brown" > Strong muscles and bones, flexible tendons and ligaments, and sensitive nerves contribute to a healthy spine. </p><br>
			      
			   </div>
	  		</div>
	   </div>
	
      
    	<div class="modal fade" id="myModal" role="dialog">
    	<div class="modal-dialog">
  	<div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" style="text-align: center; color:red">Prevention from Low back Ache & Neck Pain</h4>
        </div>
        <div class="modal-body"><ul>
          <li>Doing warm up exercises before the start of any physical activity or sports and taking short breaks in between the activity.</li>
          <li>Ensure that you use correct lifting techniques such as squatting to lift a heavy object.</li>
          <li>Ensure that you maintain a proper posture while sitting and standing.</li>
          <li>If you are overweight or obese, it can strain the back muscles. Hence it is advised that you lose some weight and maintain a healthy diet.</li>
          <ul>
          <li>Perform relaxation exercises to reduce the undesirable stress on the neck muscles.</li>
          <li>Stretching exercises should be performed before and after exercise.</li>
          <li>Maintain a good posture.</li>
          <li>Use a pillow that keeps your neck straight.</li>
          <li>Wear seat belts and use bike helmets to reduce injuries while driving or riding.</li></ul></ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" style="color:teal" data-dismiss="modal">Close</button>
        </div>
      </div></div>
  	</div>
      
      	<div class="modal fade" id="myModal4" role="dialog">
    	<div class="modal-dialog">
  	<div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" style="text-align: center; color:red">Prevention from Spinal Infections</h4>
        </div>
        <div class="modal-body">Several patient-related risk factors for postoperative spine infections exist. Those modifiable risk factors, such as malnutrition and glucose control, should be optimized before surgery with the hopes of lessening any associated infection risk. Furthermore, other operative variables, such as antibiotic administration, should also be closely monitored. However, postoperative infections always remain inevitable. Prompt diagnosis and proper treatment is the key to reduce any associated morbidity for the patient. The tenants of treatments remain surgical debridement with and without implant removal, and antibiotic therapy.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" style="color:teal" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
  	</div>
  		<div class="modal fade" id="myModal1" role="dialog">
    	<div class="modal-dialog">
  	<div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" style="text-align: center; color:red">Prevention from Spinal Trauma</h4>
        </div>
        <div class="modal-body"><ul><li>There are many ways to prevent spinal cord injuries. In motor vehicles, drivers and passengers should always wear seat belts and make sure that children are properly secured in a child safety seat. Children under age 12 should always ride in the back seat. People who are under the influence of alcohol or drugs should not drive; nor should any passenger get into a car with an impaired person at the wheel.</li><br>

<li>Elderly people are more prone to spinal cord injuries from falls. Many modifications can be made in the home to minimize this risk, including securing banisters and railings, and installing grab bars in the bathroom, and non-slip bathmats on both the bathroom floor and the shower. Keeping floor space clear and wearing non-slip shoes can help prevent tripping.</li><br>

<li>Homes with children should be equipped with safety gates and window guards to prevent falls down stairs and out windows.</li></ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" style="color:teal" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
  	</div>
      
    	
</body>
</html>

